name: Metrics

on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ADI-2903
          base: header, activity, community, repositories
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_hours: yes
          plugin_habits_languages: yes
          output_action: commit
          filename: github-metrics.svg
